.metrecord-btn {
  padding: 5px 7px;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 1px solid transparent;
}

.metrecord-btn.primary {
  background: #3cca3c;
}

.metrecord-btn.large {
  padding: 7px 9px;
  font-size: 16px;
}

.metrecord-btn.primary:hover {
  background: #35b735;
}

.metrecord-btn.subtle {
  background: #efefef;
  border-color: var(--color-blue-2);
  color: var(--color-blue-4);
}

.metrecord-btn.subtle:hover {
  background: #dfdfdf;
}

.metrecord-btn.disabled:hover,
.metrecord-btn.disabled {
  background: #d9d9e1;
  cursor: not-allowed;
}


.loading-container--label {
  padding: 8px 16px;
  color: var(--color-blue-3);
  display: flex;
  align-items: center;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}