.browser-metrics-loading-chart--container,
.browser-metrics-empty-chart--container {
  max-width: 1200px;
  width: 45%;
  margin: 0 16px;
  text-align: center;
  font-size: 16px;
  display: inline-block;
}

.browser-metrics-chart--container {
  max-width: 1200px;
  width: 45%;
  height: 400px;
  vertical-align: top;
  margin: 32px 16px 0;
  text-align: center;
  display: inline-block;
}


.browser-metrics-loading-chart--container h4,
.browser-metrics-empty-chart--container h4 {
  font-weight: normal;
  margin-top: 0;
}

.browser-metrics-loading-chart--text {
  display: flex;
  align-items: baseline;
  justify-content: center;
  color: var(--color-blue-2);
  font-size: 14px;
}

.browser-metrics-empty-chart--text {
  color: var(--color-blue-2);
  font-size: 14px;
}