.metrecord-snippet:active {
  border-color: var(--color-blue-1);
}

.metrecord-snippet {
  border: 1px solid transparent;
  max-width: 100%;
  margin-top: 20px;
  cursor: pointer;
  display: inline-block;
  padding: 4px;
  border-radius: 4px;
  transition: border-color ease 0.3s;
}

.metrecord-snippet-textarea {
  height: 0;
  width: 0;
  position: relative;
  left: -5px;
  z-index: -1;
  display: block;
}
