.end-user-details--container {
  margin: 16px;
}

.end-user-header--breadcrumbs > * {
  margin-right: 4px;
  text-transform: lowercase;
}

.end-user-header--breadcrumbs a {
  text-decoration: none;
}

.end-user-header--breadcrumbs {
  display: flex;
  color: #7b808e;
  font-weight: 600;
  font-size: 10px;
  align-items: center;
}