.count-chart--container {
  text-align: center;
}

.generic-chart--container {
  box-shadow: 0 1px 2px 0 rgba(70, 82, 89, 0.24), 0 1px 3px 0 rgba(70, 82, 89, 0.12);
  border-radius: 3px;
  background: white;
  margin: 16px;
  padding: 8px;
}

.removable-chart--container.full,
.generic-chart--container.full {
  box-sizing: border-box;
}

.removable-chart--container.large,
.generic-chart--container.large {
  width: 75%;
  max-width: 750px;
}

.removable-chart--container.medium,
.generic-chart--container.medium {
  width: 50%;
  max-width: 500px;
}

.removable-chart--container.small,
.generic-chart--container.small {
  width: 25%;
  max-width: 250px;
}

.generic-chart-loading-chart--text {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.generic-chart-loading-chart--container,
.generic-chart-empty-chart--container {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}

.font-awesome-icon--container {
  cursor: pointer;
  display: inline-block;
}

.generic-chart--title {
  margin: 4px 12px 8px;
}

.generic-chart--container.COUNT {
  max-height: 98px;
}

.generic-metrics-chart--container {
  max-width: 93%;
  height: 400px;
  vertical-align: top;
  margin: 0 16px;
  text-align: center;
  display: inline-block;
}
