.generic-dashboard--container {
  margin: 16px;
  padding: 8px;
}

.dashboard-maker-charts--container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.removable-chart--container {
  width: 100%;
}

.removable-chart--remove:hover {
  color: #383842;
}

.removable-chart--remove {
  color: #7c7d8e;
  text-transform: uppercase;
  font-size: 10px;
  position: relative;
  left: 16px;
  top: 14px;
  cursor: pointer;
  display: inline-block;
}

.dashboard-maker-add-chart--footer > * {
  margin: 0 4px;
}

.dashboard-maker-add-chart--footer {
  position: absolute;
  bottom: 0;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid var(--color-blue-1);
  text-align: right;
}

.dashboard-maker-add-chart-modal--content {
  position: relative;
  height: 100%;
}


.dashboard-maker-add-chart--label {
  text-transform: uppercase;
  font-size: 10px;
  color: #7b808e;
  font-weight: 600;
  margin-top: 16px;
}

.dashboard-maker-add-chart--options {
  margin: 8px 32px;
}
