.browser-count-chart--container h4 {
  font-weight: normal;
}

.browser-count-chart--helptext {
  color: var(--color-blue-2);
  font-size: 14px;
}

.browser-count-chart--value {
  font-size: 54px;
  margin-bottom: 12px;
}

.browser-count-chart--value-container {
  width: 60%;
  margin: 0 auto;
  background: white;
  padding: 16px 0;
  border-radius: 3px;
  box-shadow: 0 3px 6px 0 rgba(70, 82, 89, 0.1), 0 10px 20px 0 rgba(70, 82, 89, 0.15);
}

.empty-error-chart--image {
  width: 220px;
}