.end-user-events-pane--container {
  margin-left: 40px;
  margin-bottom: 24px;
}

.end-user-events-pane--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-row--container {
  cursor: pointer;
}

.event-row--container:hover {
  background: #eff4f9;
}

.end-user-events-pane--container > h3 {
  margin: 0 0 12px;
  text-align: center;
}

.event-group-header--date {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-blue-2);
  text-align: center;
  width: 100px;
  margin: 0 auto;
  background: #f4f7fb;
}

.event-group-header--divider {
  border-bottom: 1px solid var(--color-blue-1);
  position: relative;
  bottom: 6px;
  z-index: -1;
}

.event-group-data--container {
  background: white;
  border-radius: 3px;
  margin: 8px 0;
  width: 632px;
}

.event-row--container {
  padding: 4px;
  display: flex;
  align-items: center;
}

.event-row--date {
  font-size: 10px;
  color: var(--color-blue-2);
  font-weight: 600;
  margin-right: 8px;
  width: 68px;
}

.event-row-event-type {
  font-size: 10px;
  text-transform: uppercase;
  padding: 2px 6px;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
  margin-right: 6px;
}

.event-row-event-type.pink {
  background: var(--color-pink-1);
  color: var(--color-blue-4);
}

.event-row-event-type.red {
  background: var(--color-pink-3);
  color: var(--color-blue-4);
}

.event-row-event-type.dark-green {
  background: var(--color-green-3);
  color: var(--color-blue-4);
}

.event-row-event-type.green {
  background: var(--color-green-1);
  color: var(--color-blue-4);
}

.event-row-event-type.orange {
  background: var(--color-orange-2);
  color: var(--color-blue-4);
}

.event-row--content {
  display: flex;
  align-items: center;
}

.event-row-event--value {
  font-size: 12px;
  display: flex;
  align-items: center;
}

.event-row-event-value--fixed-width {
  max-width: 400px;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  padding: 0 4px;
}

.end-user-events--filter {
  width: 300px;
}