.chart-maker-chart-type--container:hover {
  box-shadow: 0 2px 4px 0 rgba(70, 82, 89, 0.12), 0 3px 6px 0 rgba(70, 82, 89, 0.15);
  /* --box-shadow-3: 0 3px 6px 0 rgba(70, 82, 89, 0.1), 0 10px 20px 0 rgba(70, 82, 89, 0.15);
  --box-shadow-4: 0 5px 10px 0 rgba(70, 82, 89, 0.05), 0 15px 25px 0 rgba(70, 82, 89, 0.15); */
}

.chart-maker-chart-type--container.selected {
  border-color: #ade6c3;
}

.chart-maker-chart-type--container {
  width: 90px;
  text-align: center;
  padding: 8px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(70, 82, 89, 0.24), 0 1px 3px 0 rgba(70, 82, 89, 0.12);
  border: 2px solid transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}

.chart-maker-type-choice--container {
  display: flex;
  width: 500px;
  height: 90px;
  align-items: center;
  justify-content: space-between;
  margin-left: 16px;
}

.chart-maker-chart-type--label {
  text-transform: uppercase;
  font-size: 10px;
  color: #7c7d8e;
  font-weight: 600;
  margin-top: 4px;
}

.chart-type-container-label {
  text-transform: uppercase;
  font-size: 10px;
  color: #7c7d8e;
  font-weight: 600;
  margin-left: 16px;
}


.chart-maker-generic--container {
  width: 500px;
  margin: 0 auto;
}

.count-chart--value {
  padding: 8px;
}

.full .count-chart--value {
  font-size: 72px;
}

.medium .count-chart--value {
  font-size: 48px;
}
