.modal--container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.modal-content--container {
  height: 60%;
  width: 40%;
  background: white;
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 120px;
}

.modal-content-title--container {
  padding: 8px;
  background: var(--color-blue-6);
  color: var(--color-green-1);
  border-radius: 3px 3px 0 0;
  margin-bottom: 16px;
  justify-content: space-between;
  font-size: 12px;
  display: flex;
  height: 32px;
  align-items: center;
}

.modal-overlay--container {
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.7;
  position: absolute;
  z-index: -1;
}


.modal-content-body--container {
  height: calc(100% - 64px);
}

.modal-close {
  cursor: pointer;
}
