.event-typeahead-input {
  width: 100%;
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid #dfdfdf;
  height: 28px;
  font-size: 16px;
  padding: 2px 8px;
  box-sizing: border-box;
}

.event-typeahead--container {
  width: 330px;
  padding: 16px 16px 8px 16px;
  box-sizing: border-box;
  position: relative;
}

.typeahead-results--container {
  background: white;
  box-shadow: 0px 1px 3px #cfcfcf;
  width: 90%;
  margin: 0 auto;
  position: absolute;
  z-index: 1;
}

.typeahead-events-count-badge {
  display: inline-flex;
  align-items: center;
  background: #ededff;
  border-radius: 6px;
}

.typeahead-result-field--label {
  display: inline-block;
  color: #7b808e;
  font-weight: 600;
  font-size: 10px;
  text-transform: uppercase;
}

.typeahead-events-count-badge .typeahead-result-field--label {
  padding: 2px 8px;
}

.typeahead-result-field--value {
  font-size: 10px;
}

.typeahead-events-count-badge {
  margin-bottom: 8px;
}

.typeahead-events-count-badge .typeahead-result-field--value {
  text-align: center;
  border-left: 1px solid grey;
  background: #928fb1;
  padding: 2px 8px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  color: white;
  font-size: 10px;
}

.typeahead-name--container {
  display: inline-block;
  margin-right: 8px;
}

.typeahead-top-row--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4px;
}

.typeahead-bottom-row--container > * {
  padding: 0 4px;
}

.typeahead-bottom-row--container {
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.typeahead-result--container:hover {
  background: #eff3fb;
}

.typeahead-result--container {
  padding: 4px;
  transition: background 0.2s ease;
  cursor: pointer;
}

.event-typeahead-loading {
  position: absolute;
  top: 44px;
  right: 24px;
  font-size: 10px;
  display: flex;
  align-items: baseline;
  color: rgb(57, 79, 90);
}

.typeahead-no-results {
  padding: 8px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  color: #7b808e;
}

.event-typeahead--label {
  text-transform: uppercase;
  font-size: 10px;
  color: #7b808e;
  font-weight: 600;
}

.typeahead-result-name {
  font-size: 14px;
}