.constrain-width {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.with-header {
  margin-top: 64px;
}

body {
  background-color: #f4f7fb;
  color: var(--color-blue-6);
}

.bx--form__helper-text {
  max-height: none !important; /* suck it */
}

.metrecord-app-content--container.no-sidebar {
  margin-left: 0px;
}

.metrecord-app-content--container {
  margin-left: 60px;
  max-height: 100vh;
}

.app-bootstrap-loading--container {
  text-transform: uppercase;
  font-size: 12px;
  display: flex;
  width: 200px;
  justify-content: center;
  align-items: baseline;
  color: #7c7d8e;
  font-weight: 600;
  margin: 64px auto;
}